.background{
		background:url("../images/bg.jpg") no-repeat; 
		background-size:cover;
		background-position: top; 
		/* height: 100vh; */

		h1{
			text-align: center;
			margin: 75px 0px 50px; 
			a{
				img{
					height: 74px;
					width: 325px;
				}
			}
		}

		h2{
			text-align: center;
			font-size: 32px;
		}
		p{
			text-align: center;
			font-size: 16px;
			margin-bottom: 12px; 
			span{
				display: block;
			}
		}

		.nav-boundary{
			margin-top: 70px;
			.nav_row{
				display: flex;
				justify-content: center;
				list-style: none;
				padding: 0px;
				margin-bottom:5px; 
				.nav-li{
					height: 130px;
					background: url('../images/bha.png') no-repeat;
					background-size:100% ;
					width: 133px;
					position: relative;
					display: inline-block;
					-webkit-transition: transform  0.6s ease-in-out;
					   -moz-transition: transform  0.6s ease-in-out;
					    -ms-transition: transform  0.6s ease-in-out;
					     -o-transition: transform  0.6s ease-in-out;
					        transition: transform  0.6s ease-in-out;
					&:hover{
						background: url('../images/hoverbg.png') no-repeat;
						height: 130px;
						background-size:100% ;
						width: 133px;
						-webkit-transform: rotateY(360deg);
						   -moz-transform: rotateY(360deg);
						    -ms-transform: rotateY(360deg);
						     -o-transform: rotateY(360deg);
						        transform: rotateY(360deg);
					}

							img{
								position: absolute;
							    height: 45px;
							    width: 46px;
							    top: 25px;
							    left: 43px;
							}

							span{
								position: absolute;
							    top: 80px;
							    width: 50px;
							    left: 40px;
							    color: #fff;
							    text-align: center;
							}

						
				}
			}

			.nav-arrow{
				margin: 40px 95px;
				
				align-self: flex-end;
				

				        a{
				        	background: url('../images/arrow.png') no-repeat;
				        	height: 80px;
				        	background-size:cover ;
				        	width: 80px;
				        	display: block;
				        	-webkit-transition: transform  0.4s ease-in-out;
				        	   -moz-transition: transform  0.4s ease-in-out;
				        	    -ms-transition: transform  0.4s ease-in-out;
				        	     -o-transition: transform  0.4s ease-in-out;
				        	        transition: transform  0.4s ease-in-out;

				        	&:hover{
				        		height: 80px;
				        		background: url('../images/arrow1.png') no-repeat;
				        		background-size:cover ;
				        		width: 80px;
				        		-webkit-transform: rotate(360deg);
				        		   -moz-transform: rotate(360deg);
				        		    -ms-transform: rotate(360deg);
				        		     -o-transform: rotate(360deg);
				        		        transform: rotate(360deg);
				        }

				
				}
			}

			.nav-bottom{
				height: 237px;
			}
		}


		.navbar-default{
			background-color: #fff;
			padding: 23px;
			border: none;
			margin: 0px;

			.navbar-brand{
				margin: 0px;

				img{
					height: 25px;
				}
			} 


			.navbar-right{
				text-transform: uppercase;

				li{
					font-size: 12px;
					a{ 
					    padding: 20px 10.5px 10px;
					    color: $primary;

					    &:hover{
					    	color: $secondary;
					    }
					}
				}
			}
		}
	}


